<h1> This is index for Posts </h1>
<table class="table table-hover table-bordered">
	<thead>
		<tr>
			<th>
				No.
			</th>
			<th>
				Date
			</th>
			<th>
				User
			</th>
			<th>
				Rationale
			</th>
		</tr>
	</thead>
	<tbody>
		<%= render @posts %>
	</tbody>
</table>



